.project {
  padding: 0.625rem 1rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  .content {
    display: flex;
    width: 1px;
    flex-grow: 1;
  }
  .icon {
    width: 1rem;
    margin: 0 16px;
    flex-shrink: 0;
  }
  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .lastModif {
    flex-shrink: 0;
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    color: $grey;
    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $grey;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media (max-width: $md) {
    .lastModif {
      display: none;
    }
  }
}
