.home {
  .title {
    margin: 3rem 0;
    > * {
      text-align: center;
      margin: 0;
      font-size: 3.5rem;
      text-transform: uppercase;
      background: linear-gradient(90deg, $primary, $secondary);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
    }
    @media (max-width: $md) {
      > * {
        font-size: 3rem;
      }
    }
    @media (max-width: $sm) {
      > * {
        font-size: 8vw;
      }
    }
    p {
      width: 100%;
    }
    span {
      display: block;
      font-size: 2rem;
    }
  }
  p {
    text-align: center;
    width: 60%;
    margin: 0 auto 1rem;
    color: $light-grey;
  }
  .button {
    position: relative;
    padding-right: 3rem;
    margin: 0 auto;
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 0.5rem solid transparent;
      border-bottom: 0.5rem solid transparent;
      border-left: 1rem solid $secondary;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
    }
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 0.5rem solid transparent;
      border-bottom: 0.5rem solid transparent;
      border-left: 1rem solid $primary;
      position: absolute;
      top: 50%;
      right: calc(1rem + 5px);
      transform: translateY(-50%);
    }
  }
}
