.text {
  color: $white;
  &--p1 {
    font-size: 1rem;
  }
  &--p2 {
    font-size: 1.5rem;
  }
  &--p3 {
    font-size: 12px;
  }
  &--p4 {
    font-size: 11px;
  }
  &--link {
    font-size: 12px;
  }
  &--label {
    font-size: 9px;
  }
  &--blue {
    color: $blue;
  }
  &--grey {
    color: $light-grey;
  }
  &--white {
    color: $white;
  }
  &--black {
    color: $black;
  }
  &--center {
    text-align: center;
  }
  &--intro {
    font-weight: 400;
    margin-bottom: 32px;
    line-height: 22px;
    font-size: 14px;
  }
}
