.myProjectsList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    width: calc((100% - 2rem) / 3);
    flex-shrink: 0;
    margin-bottom: 1rem;
  }
  li:nth-child(3n + 2) {
    margin: 0 1rem 1rem;
  }
  @media (max-width: $md) {
    li {
      width: calc((100% - 1rem) / 2);
    }
    li:nth-child(3n + 2) {
      margin: 0 0 1rem;
    }
    li:nth-child(2n) {
      margin: 0 0 1rem 1rem;
    }
  }
  @media (max-width: $sm) {
    li {
      width: 100%;
    }
    li:nth-child(3n + 2) {
      margin: 0 0 1rem;
    }
    li:nth-child(2n) {
      margin: 0 0 1rem;
    }
  }
}
