.icon {
  width: 2rem;
  color: $blue;
  flex-shrink: 0;
  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
  &--pink {
    color: $pink;
  }
  &--white {
    color: $white;
  }
  &--black {
    color: $black;
  }
  &--grey {
    color: $grey;
  }
}
