* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: $dark-grey;
  color: $white;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MuiSkeleton-root {
  background-color: rgba(255, 255, 255, 0.11) !important;
}
.MuiSkeleton-circle,
.MuiSkeleton-rect {
  flex-grow: 0 !important;
  flex-shrink: 0;
}
