// =============================================================================
// Colors
// =============================================================================

$black: #000000;
$white: #ffffff;

$light-grey: #e8e6e3;
$grey: #757575;
$dark-grey: #181a1b;

$blue: #0078cf;
$pink: #8d00cf;

$yellow: #a49c28;
$red: #b71212;
$green: green;

$primary: $blue;
$secondary: $pink;
// =============================================================================
// Breakpoints based on dead devices zone
// https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
// =============================================================================
$sm: 570px;
$md: 768px;
$lg: 1200px;
$xl: 1800px;

// =============================================================================
// Fonts
// =============================================================================
$base: 16px;

// =============================================================================
// Other
// =============================================================================
$border-radius: 5px;
