.authentication {
  .box {
    margin: 0 auto;
    width: 100%;
    max-width: 35rem;
    padding: 2rem;
    h1 {
      margin: 0 0 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
    .button {
      margin-bottom: 1rem;
    }
  }
}
