.projects {
  .searchProject {
    display: flex;
    margin-bottom: 1rem;
    .searchBar {
      flex-grow: 1;
      margin-right: 0.5rem;
    }
    @media (max-width: $md) {
      .button .icon {
        margin: 0;
      }
    }
  }
}
