.separator {
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: grey;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  span {
    position: relative;
    margin-left: 0.75rem;
    background-color: $dark-grey;
    padding: 0 4px;
    z-index: 2;
  }
}
