.import {
  .space-between {
    margin-bottom: 1.5rem;
  }
  .searchBar {
    margin-bottom: 1rem;
  }
  .project-advice {
    display: flex;
    align-items: flex-start;
    .list {
      width: 30%;
      flex-grow: 1;
    }
    .advice {
      width: 30%;
      margin-left: 1rem;
    }
    @media (max-width: $md) {
      flex-direction: column;
      .list {
        width: 100%;
      }
      .advice {
        order: -1;
        width: 100%;
        margin: 1rem 0;
      }
    }
  }
}
