.input {
  width: 100%;
  &--noTitle {
    label {
      position: absolute;
      right: 99999999px;
    }
  }
  label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  .editable {
    display: flex;
    .button {
      margin-left: 1rem;
    }
  }
  input {
    width: 100%;
    outline: none;
    border: 1px solid $grey;
    border-radius: 5px;
    background: none;
    color: $white;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    transition: 300ms;
    &:disabled {
      background: rgba($light-grey, 0.2);
    }
    &:focus {
      border: 1px solid $primary;
    }
  }
}
