.myProject {
  padding: 1rem;
  list-style: none;
  border: 1px solid $grey;
  border-radius: $border-radius;
  .separate {
    display: flex;
    align-items: center;
    .text-overflow {
      margin-left: 0.75rem;
      margin-right: 0.5rem;
      width: 10%;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .icon {
    width: 1rem;
  }
  .content {
    display: flex;
    .icon {
      margin-right: 0.5rem;
    }
  }
}
