.config {
  .flex-inline {
    display: flex;
    justify-content: space-between;
    &.title {
      align-items: center;
    }
  }
  .pastille {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: $red;

    &.success {
      background-color: $green;
    }
    &.onHold {
      background-color: $yellow;
    }
  }
  .separator {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .configuration {
    > .input + .input {
      margin-top: 1rem;
    }
    > .dropdown + .input {
      margin-top: 1rem;
    }
    > .input + .dropdown {
      margin-top: 1rem;
    }
  }
  .space-between {
    margin-bottom: 1.5rem;
  }
  .envVariable {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid $grey;
    margin-bottom: 1rem;
    &.title {
      padding: 0.75rem 0.5rem;
      border: 1px solid $grey;
      border-radius: $border-radius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
      background: linear-gradient(rgba($grey, 0.1), $dark-grey);
      margin-bottom: 0;
      position: relative;
      &::before {
        content: "";
        display: block;
        background: linear-gradient($grey, $dark-grey);
        width: 1px;
        height: 25px;
        position: absolute;
        left: -1px;
        top: 100%;
      }
      &::after {
        content: "";
        display: block;
        background: linear-gradient($grey, $dark-grey);
        width: 1px;
        height: 25px;
        position: absolute;
        right: -1px;
        top: 100%;
      }
      .button {
        opacity: 0;
        height: 0;
        cursor: default;
      }
    }
    p {
      width: 10%;
      flex-grow: 1;
    }
  }
  .newEnvVariable {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    input {
      margin-right: 0.5rem;
    }
    &.title {
      p {
        width: 10%;
        flex-grow: 1;
      }
      .button {
        opacity: 0;
        height: 0;
        cursor: default;
      }
    }
  }
  .config-gitlab {
    display: flex;
    .configuration {
      width: 30%;
      flex-grow: 1;
    }
    .gitlab {
      width: 30%;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 3px;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background-color: $grey;
        z-index: -1;
      }
      .box {
        background-color: $dark-grey;
      }
      .button {
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
          position: absolute;
          top: 50%;
          left: -1rem;
          transform: translateY(-50%);
          background-color: $grey;
          z-index: -1;
        }
        + .button {
          margin-top: 1rem;
        }
      }
      .dropdown {
        select {
          text-transform: none;
          padding-left: 0.75rem;
        }
      }
    }
  }
  @media (max-width: $md) {
    .newEnvVariable {
      flex-wrap: wrap;
      .input {
        width: calc(50% - 0.25rem);
        input {
          margin: 0;
        }
        &:first-child {
          margin-right: 0.5rem;
        }
      }
      .button {
        margin-top: 0.5rem;
        width: 100%;
      }
      &.title {
        .button {
          display: none;
        }
      }
    }
    .config-gitlab {
      flex-direction: column;
      .configuration {
        width: 100%;
      }
      .gitlab {
        width: 100%;
        margin: 1rem 0;
        &::after {
          display: none;
        }
        .button {
          margin: 1rem 0 0;
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
