.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  border-radius: $border-radius;
  color: $white;
  position: relative;
  cursor: pointer;
  background: none;
  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
  }
  .icon {
    margin-left: 0.5rem;
    width: 1.5rem;
    color: $white;
  }
  &--primary {
    background: $primary;
  }
  &--secondary {
    background: $secondary;
  }
  &--white {
    background: $white;
    color: $primary;
  }
  &--black {
    background: $black;
    color: $white;
  }
  &--yellow {
    background: $yellow;
    color: $white;
  }
  &--red {
    background: $red;
    color: $white;
  }
  &--large {
    width: 100%;
    padding: 1rem 0;
  }
  &--small {
    padding: 0.375rem 0.5rem;
  }
  &--notClickable {
    cursor: default;
  }
  &--tall {
    font-size: 1.5rem;
    .icon {
      margin-left: 1rem;
    }
  }
  &.iconLeft {
    padding: 0.625rem 0;
    .icon {
      margin-right: 1.25rem;
      margin-left: 0rem;
      width: 2.5rem;
    }
  }

  &--outline {
    background: transparent;
    border: 1px solid $grey;

    &.button--primary {
      color: $primary;
    }
    &.button--secondary {
      color: $secondary;
    }
    &.button--white {
      color: $white;
    }
  }
}
