.dropdown {
  margin: 8px 0;
  label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  .list {
    position: relative;
    > .icon {
      position: absolute;
      width: 1.5rem;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
  .icon-select {
    .icon {
      position: absolute;
      width: 1.75rem;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
  select {
    appearance: none;
    text-transform: capitalize;
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 3.375rem;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1rem;
    color: $white;
    background: none;
    cursor: pointer;
    &:focus {
      border-color: $primary;
    }
  }
}
