body.modalOpen {
  overflow: hidden;
}
header {
  display: flex;
  padding: 1.5rem 0 2rem;
  .logo {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    p {
      margin-left: 0.5rem;
      font-family: "Khand", sans-serif;
    }
    .icon {
      width: 1.625rem;
    }
  }
  nav {
    width: 10%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      height: 100%;

      a {
        padding: 0 1rem;
        display: flex;
        height: 100%;
        align-items: center;
      }
    }
    .button {
      display: none;
    }
  }
  .userName {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    color: $primary;
  }
  .mobile-menu {
    display: none;
  }
  @media (max-width: $md) {
    .logo {
      .text {
        display: none;
      }
      .icon {
        width: 2.5rem;
      }
    }
  }
  @media (max-width: $sm) {
    justify-content: space-between;
    position: relative;
    > a {
      order: 2;
    }
    .logo {
      margin-right: 2rem;
    }
    .mainNav {
      position: absolute;
      width: 100%;
      height: calc(100vh - 100%);
      background-color: $grey;
      top: 100%;
      right: calc(100% + 1rem);
      z-index: 50;
      flex-direction: column;
      transition: 300ms;
      align-items: flex-start;
      &.open {
        right: 0;
      }
      ul {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 1rem;
        li {
          display: block;
          border-bottom: 1px solid $dark-grey;
          position: relative;
          a {
            padding: 1rem;
          }
          &::before {
            content: "";
            display: block;
            width: 1rem;
            height: 4px;
            border-radius: 2rem;
            background-color: $light-grey;
            position: absolute;
            top: calc(50% - 0.5rem);
            right: 0;
            transform: rotate(45deg);
            pointer-events: none;
          }
          &::after {
            content: "";
            display: block;
            width: 1rem;
            height: 4px;
            border-radius: 2rem;
            background-color: $light-grey;
            position: absolute;
            top: 50%;
            right: 0;
            transform: rotate(-45deg);
            pointer-events: none;
          }
        }
      }
      .button {
        display: block;
        margin-left: 1rem;
      }
    }
    > .button {
      display: none;
    }
    .mobile-menu {
      display: block;
      order: 3;
      border: none;
      background: none;
      cursor: pointer;
      .burger-menu {
        width: 2rem;
        border-radius: 2rem;
        height: 4px;
        background-color: $light-grey;
        position: relative;
        transition: 300ms;
        &::before {
          content: "";
          display: block;
          width: 2rem;
          height: 4px;
          border-radius: 2rem;
          background-color: $light-grey;
          position: absolute;
          top: -9px;
          left: 0;
          transition: 300ms;
        }
        &::after {
          content: "";
          display: block;
          width: 2rem;
          height: 4px;
          border-radius: 2rem;
          background-color: $light-grey;
          position: absolute;
          bottom: -9px;
          left: 0;
          transition: 300ms;
        }
        &.open {
          background-color: transparent;
          &::before {
            top: 0px;
            left: 0;
            transform: rotate(45deg);
          }
          &::after {
            bottom: 0px;
            left: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
