.searchBar {
  border: 1px solid $grey;
  border-radius: $border-radius;
  display: flex;
  position: relative;
  align-items: center;
  label {
    padding: 0.5rem 1rem;
    .icon {
      width: 1.5rem;
    }
  }
  input {
    width: 100%;
    background: none;
    border: none;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    height: 100%;
    color: $white;
    font-size: 1rem;
    padding: 0.625rem 1rem;
  }
  input[value=""] {
    border-right: none;
  }
  input[value=""] ~ .button {
    display: none;
  }

  .button {
    padding: 0.5rem 0.75rem;
    border-radius: 0;
    .icon {
      margin: 0;
      color: $grey;
    }
  }
}
